.livro-container {
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #cccccc54;
    background-color: #fff;
    cursor: pointer;
}

.livro-container:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave */
    box-shadow: 0px 2px 2px #cccccc;
}

.livro-container h3 {
    color: #333;
    font-weight: bolder;
    font-size: 24px;
    text-align: left;
    margin: 0;
 }

.livro-container p {
   font-size: 12px;
   color: #888;
   font-family: 'Poppins', sans-serif;
}